import { command, start } from 'scriptails';

command('build', (c) => {
    c.aliases(['b']);
    c.description('description');
    c.option(['-D', '--debug'], null, 'build debug mode', false);
    c.option(['-P', '--project'], { title: 'projectName', required: true }, 'project name');
    c.option(['-P', '--platforms'], { title: 'platforms', variadic: true }, 'target platforms', 'windows');
    c.arg('dir', true, false, 'dir description');

    c.onAction((action) => {
        const debug = action.getOption('debug').toBoolean();
        const project = action.getOption('project').toString();
        const myArgs = action.getArgs()[0].toString();

        action.logWithLabel('info', { debug, myArgs, project });

        action.exitError('Error');
    });
});

start(process.argv, {
    name: 'my-cli',
    description: 'cli description',
    version: '1.0',
});
